<div class="column">
<%= simple_form_for [venue, booking] do |f|%>
  <div class="mb-3 form-control">
    <%= f.input :start_date,
            as: :date,
            input_html: { data: { controller: "datepicker" } } %>
  </div>
  <div class="mb-3 form-control">
    <%= f.input :end_date,
            as: :date,
            input_html: { data: { controller: "datepicker" } } %>
  </div>
  <div class="mb-3 btn-primary text-center">
  <%= f.submit 'Book', class: "btn btn-default btn-danger", style: "color: white" %>
  </div>
<% end %>
</div>
