
<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://drinkohza.com/cdn/shop/articles/pexels-cottonbro-3171815.jpg?v=1633625938);">
  <div class="container">
    <h1> <strong>VenueBookr</strong></h1>
    <p>Book amazing party venues from all over the world!</p>
     <div class="search_bar navbar-nav ml-auto mr-auto">
    <form class="form-inline input-group">
      <input class="form-control mr-sm-2" type="search" placeholder="Search by venue name, types , location" aria-label="Search">
      <button class="btn btn-danger my-2 my-sm-0" type="submit">Search</button>
    </form>
  </div>

  </div>
</div>
<br>
<br>
<div class="container">
  <div class="cards">
    <% @venues.each do |venue| %>
      <%= render "venue", venue: venue %>
    <% end %>
  </div>
</div>
