
<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://drinkohza.com/cdn/shop/articles/pexels-cottonbro-3171815.jpg?v=1633625938);">
  <div class="container mx-5 my-5 row justify-content-center">
    <h1 style="font-size: 50px"> <strong> Find the perfect venue for your next celebration. </strong></h1>
    <p class="mt-2">Create memories. Celebrate in style. </p>


    <div >
  <div class="col-sm-4 my-1">
    <%= form_with url: venues_path, method: :get, class: "d-flex" do %>
      <%= text_field_tag :query,
            params[:query],
            class: "form-control",
            placeholder: "Search by venue name or location"
        %>
      <%= submit_tag "Search", name: "", class: "btn btn-danger", style: "color: white; text-decoration: none;" %>
    <% end %>
  </div>
</div>

  </div>
</div>
<br>
<br>

<div class= "bg p-5 mb-2 bg-danger text-white">
  <h1 class=" container text-center", style="font-size: 25px">Big, small, outdoors, or indoors – find the one for you.</h1>
</div>

<div class="container">
  <div class="cards">
    <% @venues.each do |venue| %>
      <%= render "venue", venue: venue %>
    <% end %>
  </div>
</div>
