
<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://drinkohza.com/cdn/shop/articles/pexels-cottonbro-3171815.jpg?v=1633625938);">
  <div class="container">
    <h1> <strong>VenueBookr</strong></h1>
    <p>Book amazing party venues from all over the world!</p>


    <div class="row justify-content-center">
  <div class="col-sm-8 my-3">
    <%= form_with url: venues_path, method: :get, class: "d-flex" do %>
      <%= text_field_tag :query,
            params[:query],
            class: "form-control",
            placeholder: "Search by venue name, types , location"
        %>
      <%= submit_tag "Search", name: "", class: "btn btn-danger", style: "color: white; text-decoration: none;" %>
    <% end %>
  </div>
</div>

  </div>
</div>
<br>
<br>
<div class="container">
  <div class="cards">
    <% @venues.each do |venue| %>
      <%= render "venue", venue: venue %>
    <% end %>
  </div>
</div>
