
<div class="border border-danger rounded">
<img class="index-photo card-img-top rounded h-50" src=<%= cl_image_path venue.photos[0].key %> alt="Card image cap">
<h5><%= venue.name %></h5>
<h6><%= venue.location %></h6>
<%= link_to '', venue_path(venue), class:'stretched-link' %>
</div>
