<img class="index-photo card-img-top rounded" src=<%= cl_image_path venue.photos[0].key %> alt="Card image cap">
<h2><%= venue.name %></h2>
<h5><%= venue.location %></h5>
<p><%= venue.description %></p>
