// Graphical variables
@import "config/fonts";
@import "config/colors";
@import "config/bootstrap_variables";

// External libraries
@import "bootstrap";
@import "font-awesome";

// Your CSS partials
@import "components/index";
@import "pages/index";

// PIN FOOTER TO BOTTOM OF PAGE
.min_height {
  min-height: calc(100vh - 196px);
}
// END

// REMOVING ASTERISK FROM REQUIRED FIELDS ON FORMS
.required abbr[title="required"] {
  display: none;
}
// END

// LIGHTENING PASSWORD HINT FONT ON SIGN-UP FORM
.form-group.mb-4 .hint {
    color: #999;
}
// END
